body{
  background-color: #f5f0e1;
  margin: 0;
  padding: 20px;
}

h1{
  color: #4b3e2d;
  text-align-last: center;
  font-size: 40px;
  font-family: playfair display, serif;
  font-weight: 700;
}

h2{
  color: #4b3e2d;

}
#pwelcome{
  color: #4b3e2d;
  font-size: 20px;
  font-family: 'Lora', serif;
  font-weight: 400;
}

#imgbestseller{
  width: 100px;
  height: auto;
  display: block;
  border-radius: 10px;
}
  